  <md-tabs  class="" md-dynamic-height md-border-bottom  md-center-tabs="true" >
    <md-tab label="{{ label }}" ng-repeat="label in labels">
      <md-content class="md-padding">
        <md-progress-linear class="progressbar" md-mode="determinate" value="{{ progress }}"></md-progress-linear>

        <div class="" ng-hide layout="row" layout-align="center center">
          <img id="correct" src="./img/correct.png" alt="correct">
        </div>

        <div class="question" layout="row" layout-align="center center">
          <div class="formula"> {{ formula }} </div>
          <div class="formula">`=`</div>
          <div class="placeholder" ng-drop="true" ng-drop-success="onDropComplete($data,$event)" layout="row" layout-align="center center"> {{ correctAnswers[0] }} </div>
          <div class="formula">`+`</div>
          <div class="placeholder" ng-drop="true" ng-drop-success="onDropComplete($data,$event)" layout="row" layout-align="center center"> {{ correctAnswers[1] }} </div>
          <div class="formula">`+`</div>
          <div class="placeholder" ng-drop="true" ng-drop-success="onDropComplete($data,$event)" layout="row" layout-align="center center"> {{ correctAnswers[2] }} </div>
        </div>

        <div class="answer" layout="row" layout-align="center center">
          <div class="box"  ng-repeat="answer in answers" ng-drag="true" ng-drag-data="{obj: 'wow'}" ng-drag-success="onDragComplete($data,$event)" ng-center-anchor="true" layout="row" layout-align="center center"> {{ answer }} </div>
        </div>

      </md-content>
    </md-tab>
