<!DOCTYPE html>
<html lang="ro" ng-app="PokeMath">

  <head>
    <title>PokeMath</title>
    <link rel="icon" href="img/favicon.ico">

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO -->
    <meta name="author" content="Alex Schin">
    <meta name="description" content="An app that help you learn Math!">
    <meta name="keywords" content="math, algebra, exercises, pokemath">
    <!-- Angular-Meterial styles -->
    <link rel="stylesheet" href="./vendors/angular-material.min.css">
    <!-- my styles -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Angular -->
    <script src="./vendors/angular.min.js"></script>
    <script src="./vendors/angular-animate.min.js"></script>
    <script src="./vendors/angular-aria.min.js"></script>
    <script src="./vendors/angular-material.min.js"></script>
    <script src="./vendors/angular-messages.min.js"></script>
    <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
    <!-- math -->
    <script src="./js/formule.js"></script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=AM_HTMLorMML"></script>
    <!-- drag & drop -->
    <script src="./vendors/ngDraggable.js"></script>

  </head>

  <body  layout="column" ng-controller="mainCtrl">

    <div class="container" layout="column" layout-align="center center" flex>

        <md-sidenav id="sidebar" class="md-whiteframe-1dp" md-component-id="sidebar" >

          <nav ng-model="sideNavOpen">
            <md-toolbar class="md-whiteframe-1dp">
              <img id="logo" src="./img/logo.png" alt="logo">
            </md-toolbar>

            <ul layout="column" layout-align="center">
              <li><a href="#home" ng-click="currentPage = 'home'">Home</a></li>
              <li><a href="#game" ng-click="currentPage = 'game'">Game</a></li>
              <li><a href="#about" ng-click="currentPage = 'about'">About</a></li>
              <li><a href="#contact" ng-click="currentPage = 'contact'">Contact</a></li>
            </ul>

          </nav>

        </md-sidenav>
        <md-toolbar id="navigation" class="md-whiteframe-6dp" layout="row" layout-align="space-between center">

          <md-button ng-click="toggleSidebar()" class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="./img/icons/menu.svg"></md-icon>
          </md-button>

          <p>PokeMath</p>

          <md-button class="md-fab md-raised md-hue-2" aria-label="Profile" layout-align="center center">
            <img style="margin-top: 8px;"src="./img/brain.png"></img>
          </md-button>

        </md-toolbar>
      <md-content id="content" class="md-whiteframe-2dp" ng-view flex>

          <div ng-if="currentPage === 'game'" ng-include="'./pages/game.html'"  ng-controller="gameCtrl"></div>
          <div ng-if="currentPage === 'home'" ng-include="'./pages/home.html'"></div>
          <div ng-if="currentPage === 'about'" ng-include="'./pages/about.html'"></div>
          <div ng-if="currentPage === 'contact'" ng-include="'./pages/contact.html'"></div>

      </md-content>
    </div>

  </body>

  <!-- my js -->
  <script src="./js/app.js"></script>

</html>
